.conteiner {
    width: 610px;
    margin: 0 auto 0 auto;
}

h1 {
    margin: 0;
    font-size: 64px;
}

.header {
    text-align: center;
}

.text-anons {
    text-align: center;
    font-size: 26px;
    margin-top: 24px;
}

button {
    display: block;
    margin: 24px auto 0 auto;
    width: 158px;
    height: 56px;
    font-size: 18px;
    color: FFFFFF;
    background: black;
    border-radius: 16px;
    border: none;
}

.galery {
    max-width: 1312px;
    margin: 64px auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.image {
    width: 316px;
    border-radius: 16px;
}

body {
    margin: 0;
    padding-top: 64px;
    padding-bottom: 64px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1012px) {
    .galery {
        max-width: 776px;
        margin: 32px auto 0 auto;
    }

}

@media (max-width: 680px) {
    .galery {
        max-width: 388px;
    }

    .conteiner {
        max-width: 100%;
    }

    h1 {
        font-size: 50px;
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 40px;
    }

    .text-anons {
        font-size: 18px;
        margin-top: 20px;
    }
}